.header{
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid $gray-600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;

    h1{
        font-size: 28px;
        color: $gray-700;
        margin-bottom: 5px;
    }

    p{
        font-size: 15px;
        color: $gray-600;
    }
}

@media screen and (min-width:640px){
    .header{
        padding: 20px 0;
    
        h1{
            font-size: 35px;
            margin-bottom: 0px;
        }
    
        p{
            font-size: 20px;
        }
    }
}